/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.text-justify {
    text-align: justify;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.post {
    text-align: justify;
}

.post del {
    opacity: 0.5;
}
