---
layout: default
---

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
	{{ content }}
</div>

<div class="categories">Tags:&nbsp;
	{% for tag in page.tags %}
	<span><a href="/tags/{{ tag }}/">{{ tag }}</a></span>
	{% endfor %}
</div>

<!--<div class="related">Related:&nbsp;
	{% for related in site.related_posts %}
	<a href="{{ related.url }}" style="font-size: 9px;">{{ related.title }}</a>
	{% endfor %}
</div>-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43718744-1', 'crespo.in');
  ga('send', 'pageview');

</script>